<div style="padding: 1.2rem;"
     *ngFor="let hero of heroes"
     (click)="onSelect(hero)">

  <section style="text-align:center;margin:0; border: 1px dotted black;"
           [class.selected]="hero === selectedHero">

    <h2>
      <span style="display:block;font-size: small">id: {{ hero.id }}</span>
      {{ hero.name | uppercase }} details
    </h2>
    <button mat-button >LIKE</button>
    <button mat-button>SHARE</button>

  </section>

</div>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>
